<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="icon" type="image/x-icon" href="{{ asset ("img/leaf_256x256.png") }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header class="header-wrapper">
        <div class="header-title-wrapper">
            <h1 class="header title">
                Me-sida
            </h1>
            <img class="header-logo" src="{{ asset ('img/avatar.png') }}" alt="Logo">
        </div>
        <nav class="header-nav-wrapper">
            <ul class="header-nav">
                {% block nav %}
                <li class="header-nav-item"><a href={{ url("home") }}>Hem</a></li>
                <li class="header-nav-item"><a href={{ path("about") }}>Om</a></li>
                <li class="header-nav-item"><a href={{ path("report") }}>Redovisning</a></li>
                <li class="header-nav-item"><a href={{ path("lucky") }}>Lucky</a></li>
                <li class="header-nav-item"><a href={{ path("card") }}>Card</a></li>
                {% endblock %}
            </ul>
        </nav>
    </header>
    <main class="main-wrapper">
        {% block content %}
        Default content
        {% endblock %}
    </main>
    <footer class="footer-wrapper">
        <p>Redovisningssida i MVC-kurs</p>
    </footer>
</body>

</html>
