{# templates/index.html.twig #}

{% extends('base.html.twig') %}

{% block title %}Game{% endblock %}

{% block content %}
<div class="main-title">
    <h1>Välkommen till API-sidan</h1>
</div>

<div class="main-content">
    {{ include('game/flash.html.twig') }}
    <p>Detta är en undersida som listar API:er kopplade till webbplatsen.</p>
</div>

<div class="main-side">
    <ul>
        <li><a href="{{ path('quoteApi') }}">Citat API</a></li>
        <li><a href="{{ path('deckApi') }}">Kortlek API</a></li>
        <li>
            <form action="{{ path('shuffleApi') }}" method="post">
                <input class="link" type="submit" value="Shuffle">
            </form>
        </li>
        <li>
            <form action="{{ path('drawApi') }}" method="post">
                <input class="link" type="submit" value="Draw">
            </form>
        </li>
        <li>
            <form id="draw" action="api/deck/draw/4" method="post">
                <input class="link" type="submit" value="DrawMany">
            </form>
        </li>
    </ul>
</div>
{% endblock %}
